---
layout: default
title: Pricing
suppress_header: true
extra_css:
  - pricing.css
extra_js:
  - pricing.js
extra_font:
  - "Roboto+Slab"
---

.page-container.pricing-container.text-center.animated
  .container
    %h1.page-headline
      Flexible plans for individuals and businesses
    %h4.subheader
      All plans include Git repository management, code reviews, issue tracking, built-in GitLab CI for continuous integration and delivery, plus a 45 day money-back guarantee.
    .row{ data: { equal: ".col-md-4" } }
      .col-md-4
        .featured-item
          .edition-name
            GitLab.com
          .featured-item-body
            %h2.featured-item-headline
              Free
            %h3.featured-item-headline-small
              unlimited repositories
            = icon "com", "featured-item-icon", {width: 76, height: 76, label: "GitLab.com"}
            %ul.featured-item-list.list-unstyled
              %li.item-description
                Hosted on GitLab's servers
              %li.line-separator
              %li.item-description
                Unlimited private collaborators
              %li.line-separator
              %li.item-description
                = link_to "Learn more...", "/gitlab-com/", class: "action-link"
            = link_to "Sign Up", "https://gitlab.com/users/sign_in", class: "featured-item-button"
      .col-md-4
        .featured-item
          .edition-name
            Community Edition
          .featured-item-body
            %h2.featured-item-headline
              Free
            %h3.featured-item-headline-small
              unlimited users
            = icon "ce", "featured-item-icon", {width: 76, height: 76, label: "GitLab CE"}
            %ul.featured-item-list.list-unstyled
              %li.item-description
                Single-tenant on your server
              %li.line-separator
              %li.item-description
                Open source & scalable
              %li.line-separator
              %li.item-description
                = link_to "Learn more...", "/features#community", class: "action-link"
            = link_to "Download Now", "/downloads/", class: "featured-item-button"
      .col-md-4
        .featured-item
          .edition-name
            Enterprise Edition
          .featured-item-body
            %h2.featured-item-headline
              = succeed "39/yr" do
                %span.currency $
            %h3.featured-item-headline-small
              per user (no minimum)
            = icon "ee", "featured-item-icon", {width: 76, height: 76, label: "GitLab EE"}
            %ul.featured-item-list.list-unstyled
              %li.item-description
                Single-tenant on your server
              %li.line-separator
              %li.item-description
                Next business day support
              %li.line-separator
              %li.item-description
                = link_to "Learn more...", "/features#enterprise", class: "action-link"
            = link_to "Buy Now", data.pricing.payment_url, class: "featured-item-button"
    %h1.page-headline.cta
      Not sure? Try GitLab Enterprise Edition risk-free for 30 days.
    %h4.subheader.cta
      No credit card required. Have questions?
      %a.contact-us{href: "https://about.gitlab.com/sales/"} Contact us.
    %a.btn.btn-lg.btn-red{ href: "/free-trial/" } Get Your Free Trial Today

#gitlab-ee.page-container.content-container.text-center.animated
  .container
    %h1.page-headline
      These powerful tools and services are available as additional Products for the Enterprise Edition
    .row.pricing-tile-row{ data: { equal: ".col-md-4" } }
      .col-md-4.col-md-offset-2
        .featured-item
          .edition-name
            GitLab Geo
          .featured-item-body
            %h2.featured-item-headline
              = succeed "99/yr" do
                %span.currency $
            %h3.featured-item-headline-small
              per user (no minimum)
            = icon "gitlab-geo", "featured-item-icon", {width: 76, height: 76, label: "GitLab Geo"}
            %ul.featured-item-list.list-unstyled
              %li.item-description
                Mirrored GitLab instance
              %li.line-separator
              %li.item-description
                Built for remote working teams
              %li.line-separator
              %li.item-description
                Faster cloning & fetching
              %li.line-separator
              %li.item-description
                = link_to "Learn more...", "http://docs.gitlab.com/ee/gitlab-geo/README.html", class: "action-link"
            %a.featured-item-button{href: data.pricing.payment_url}
              Add GitLab Geo
      .col-md-4
        .featured-item
          .edition-name
            Premium Support
          .featured-item-body
            %h2.featured-item-headline
              = succeed "99/yr" do
                %span.currency $
            %h3.featured-item-headline-small
              per user (minimum of 100 users)
            = icon "premium-support", "featured-item-icon", {width: 76, height: 76, label: "Premium Support"}
            %ul.featured-item-list.list-unstyled
              %li.item-description
                24/7 emergency support
              %li.line-separator
              %li.item-description
                = link_to "Two training workshops", "/training", class: "action-link"
              %li.line-separator
              %li.item-description
                Dedicated service engineer
              %li.line-separator
              %li.item-description
                Live upgrade assistance
              %li.line-separator
              %li.item-description
                Support for
                = link_to "High Availability", "/high-availability", class: "action-link"
            %a.featured-item-button{href: data.pricing.payment_url}
              Add Premium Support
    .row{ data: { equal: ".col-md-4" } }
      .col-md-4.col-md-offset-2
        .featured-item
          .edition-name
            Pivotal Tile
          .featured-item-body
            %h2.featured-item-headline
              = succeed "99/yr" do
                %span.currency $
            %h3.featured-item-headline-small
              per user (no minimum)
            = icon "pivotal-tile", "featured-item-icon", {width: 76, height: 76, label: "Pivotal Tile"}
            %ul.featured-item-list.list-unstyled
              %li.item-description
                Simple installation
              %li.line-separator
              %li.item-description
                Highly available by default
              %li.line-separator
              %li.item-description
                Easily scale up
              %li.line-separator
              %li.item-description
                Customizable, integrated, & secure
              %li.line-separator
              %li.item-description
                = link_to "Learn more...", "https://about.gitlab.com/2015/11/03/pivotal-cloud-foundry-tile-for-gitlab-ee/", class: "action-link"
            %a.featured-item-button{href: data.pricing.payment_url}
              Add Pivotal Tile
      .col-md-4
        .featured-item
          .edition-name
            File Locking
          .featured-item-body
            %h2.featured-item-headline
              = succeed "99/yr" do
                %span.currency $
            %h3.featured-item-headline-small
              per user (no minimum)
            = icon "file-locking", "featured-item-icon", {width: 76, height: 76, label: "File Locking"}
            %ul.featured-item-list.list-unstyled
              %li.item-description
                Lock files and folders
              %li.line-separator
              %li.item-description
                View and manage locks
              %li.line-separator
              %li.item-description
                Intuitive UI
              %li.line-separator
              %li.item-description
                = link_to "Learn more...", "http://docs.gitlab.com/ee/user/project/file_lock.html", class: "action-link"
            %a.featured-item-button{href: data.pricing.payment_url}
              Add File Locking
    -# %a.featured-item-button.purchase-now{href: data.pricing.payment_url}
    -#   Purchase your GitLab EE package
.what-is.choose-gitlab.text-center.animated
  .container
    %h2.choose-gitlab-title
      Choose the GitLab edition that is best for your team
    = link_to "/features#compare", class: "choose-gitlab-link" do
      View a side-by-side feature comparison of GitLab Community and Enterprise Edition
.content-container.animated
  .container
    %h2.faq-title.light.text-center
      Subscription & Licensing FAQ
    %h3.faq-subtitle.light.text-center
      Still have questions?
      = succeed "." do
        = link_to "Contact us", "/sales/"
    .faq-holder.clearfix
      - size = (data.pricing.questions.size / Float(2)).ceil
      - data.pricing.questions.each_slice(size).to_a.each do |group|
        = partial "question-group", locals: { group: group }
